extends layout
block content
  h3 Download Overview
  p
  canvas#overview
  p#overview-legend
  p
      form.form-horizontal(id="charti_form")
          label Start Date
          input.span3(id="start_date", type="text", name="start_date", value="2014,10")
          label End Date
          input.span3(id="end_date", type="text", name="end_date", value="2015,3")
          label Filter Less Than
          input.span3(id="dl_filter", type="text", name="dl_filter", value="10")
          label CE/EE Releases
          ul.nav.nav-pills#aggr_ce_ee
              li.active
               a#aggr_ce_ee_grouped Grouped
              li
               a#aggr_ce_ee_separate Separate
          input.btn(id="update", type="Update", value="update")
  .span12
    p#errors
  .span12
  h4 About this App
  p Couchbase Change Detector
  p 
    | This app uses Couchbase to visualize S3 download logs of Couchbase products.
