extends layout
block content
  h3 Download Overview
  p
  canvas#overview(width=750, height=400)
  p#overview-legend
  .span12
    p#errors
  .span12
  h4 About this App
  p Couchbase Change Detector
  p 
    | This app uses Couchbase to visualize S3 download logs of Couchbase products.
