extends layout
block content
  h3 Overview Graphs
  p This should appear at the top.
  canvas#overview
  .span12
  h4 About this App
  p Couchbase Change Detector
  p 
    | This app uses Couchbase to visualize S3 download logs of Couchbase products.
