extends layout
block content
  h3 Downloads by Version
  p
  canvas#byversion
  p#byversion-legend
  p
    form.form-horizontal(id="charti_form")
        label Start Date
        input.span3(id="start_date", type="text", name="start_date", value="2015,1")
        label End Date
        input.span3(id="end_date", type="text", name="end_date", value="2015,8")
        label Filter Less Than
        input.span3(id="dl_filter", type="text", name="dl_filter", value="10")
        //label CE/EE Releases
        //ul.nav.nav-pills#aggr_ce_ee
        //    li.active
        //        a#aggr_ce_ee_grouped Grouped
        //    li
        //        a#aggr_ce_ee_separate Separate
        input.btn(id="update", type="Update", value="update")

  h4 By Version Over/Under
  p
  canvas#byversionou
  p#byversionou
  p#byversiouou-legend

  h3 Download Details
  p
  canvas#overview
  p#overview-legend
  p#errors
  .span12
  h3 Win 32 compared to 64
  canvas#win-plat
  p#win-plat-legend
  h4 About this App
  p Couchbase Change Detector
  p 
    | This app uses Couchbase to visualize S3 download logs of Couchbase products.  S3 logs are loaded into Couchbase
    | as individual elements (non-JSON) and then processed as Couchbase Views.  Couchbase views are built from the
    | parsed log entries with the item, year, month, day and number of bytes.  The node.js app will look up object sizes
    | on S3 and based on the object size and the number of bytes retrieved in the given range, it will calculate and
    | round to the nearest integer on the number of downloads.